@use '@angular/material' as mat;
:root {
  @include mat.sidenav-overrides((
    container-background-color: orange,
  ));
}
:host {
  .container {
    width: 100%;
    height: calc(100% - 64px);
  }
}
