@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --primary-color: #1976d2;
  @include mat.sidenav-overrides((
    container-background-color: var(--primary-color)
  ));
  @include mat.toolbar-overrides((
    container-background-color: var(--primary-color)
  ));
}

// mat elevation helper
@for $i from 0 through 24 {
  .mat-elevation-z#{$i} {
    @include mat.elevation($i);
  }
}
